* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #dff9fb;
}

.poste {
  width: 25px;
  height: 200px;
  background-color: #303952;
}

.semaforo {
  width: 180px;
  height: 425px;
  background-color: #303952;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.luz {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #ecf0f1;
    opacity: 0.5;
}

.rojo {
  background-color: #c0392b;
}
.amarillo {
  background-color: #f1c40f;
}

.verde {
  background-color: #27ae60;
}

.activo {
box-shadow: 1px 2px 29px 22px rgba(246,229,141,0.67);
-webkit-box-shadow: 1px 2px 29px 22px rgba(246,229,141,0.67);
-moz-box-shadow: 1px 2px 29px 22px rgba(246,229,141,0.67);
  opacity: 100;
}
